<header>
<ul>
  <li><a [routerLink]="['/Sobre-mi']" [routerLinkActive]="['actived']">Sobre Mi</a></li>
  <li><a [routerLink]="['/Proyectos']" [routerLinkActive]="['actived']">Proyectos</a></li>
  <li id="logo"><a href="#">EC</a></li>
  <li><a [routerLink]="['/Crear-proyecto']" [routerLinkActive]="['actived']">Crear proyecto</a></li>
  <li><a [routerLink]="['/Contacto']" [routerLinkActive]="['actived']">Contacto</a></li>
  
</ul>
</header>

<section id="content">
  <router-outlet></router-outlet>
</section>

<footer>
  Pagina reservada por Edwin Carpio &copy;
</footer>